* {
    font-family: 'Rubik', sans-serif;
}

/* - START FLEXBOX LAYOUT STYLES - */
.container {
    display: flex;
    flex-direction: row;
}

.sidebar-flex-col {
    display: flex;
    flex-direction: column;
}

.main-doc-flex-col {
    display: flex;
    flex-direction: column;
}
/* - END FLEXBOX LAYOUT STYLES - */

/* - START NAV STYLES - */
#navbar {
    overflow-y: scroll;
    width: 250px;
    height: 100vh;
    border-right: 4px #fff solid;
    background-color: lightblue;
}

#nav-head {
    font-size: 18px;
    font-weight: bold;
    padding: 30px;
}

#nav-head,
.nav-item  {
    background-color: lightblue;
    text-align: center;
}

.nav-item {
    border-top: #fff 2px solid;
}

.nav-item:hover {
    cursor: pointer;
    background-color: lightgreen;
    font-weight: bold;
}

.nav-link {
    color: #000;
    display: block;
    height: 100%;
    padding: 20px;
}
/* - End NAV STYLES - */

/* - START MAIN STYLES */
#main-doc {
    height: 100vh;
    padding: 0px 0px 0px 10px;
    background-color: lightcyan;
    overflow-y: scroll;
    width: 100%;
}

.main-section {
    margin: 20px 20px 20px 40px;
}

.main-section header {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}

.main-section p {
    margin-bottom: 10px;
}

.main-section li {
    list-style-type: disc;
    margin: 0px 0px 10px 40px;
}

.code-ex {
    background-color: lightgray;
    margin-bottom: 10px;
    width: 400px;
}
/* - END MAIN STYLES - */

/* - START MEDIA QUERY STYLES - */
@media only screen and (max-width:720px) {
    .container {
        flex-direction: column;
    }

    #navbar {
        border-bottom: #000 2px solid;
        height: 50vh;
        width: 100%;
    }
}
/* - END MEDIA QUERY STYLES - */
